*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height:100vh;
  width: 100;
  background-color: black;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
 
}

.card{
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #8b8b8b;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}


.center{

}
.center h3{
  font-size: 17px;
  font-weight: 500;

}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color:  #8b8b8b;
}

.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  padding-top: 15px ;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width:  600p;
}

.bottom h3{
  font-size: 17px;

}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}

