.box{
  
  height: 200px;
  width: 200px;
  background-color: chartreuse;
}

.page1{
  height: 100vh;
  width: 100%;
  background: color #232;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: black;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: #323;
}