.header{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
}

.btn{
    background-color: yellow;
}