h1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
  background-color:rgb(85, 117, 97)
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(10, 6, 115);
}