button{
  margin: 10px;
  background-color: darkgrey;
  height: 100px;
  width: 500px;
  
}

h1{
  margin: 10px;
  background-color: darkgreen;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 20vh;
 
  
}